<!DOCTYPE html>

<html lang="es">

	<head>
		<meta charset="utf-8">
		<title> Amigos más populares en Twitter </title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<link href="/css/bootstrap.min.css" rel="stylesheet">
		
	</head>

	<body>

		<div class="container-fluid">
		<!--  *****   Cabecera *****  -->
			<div class="row">
				<div class="cabecera">
					<div class="col-md-2">
					  <p><img src="/bird_icon.png" WIDTH=100 HEIGHT=100 />					
					</div>
					<div class="col-md-10">
					  <h1>  -- Tus amigos más populares de Twitter -- </h1>						
					</div>
				</div>
			</div>
			<!--  *****   Central *****  -->
			<div class="row">
				<!--  Menu  -->
				<div class="col-md-2">
				
				</div>
				<div class="col-md-10">
				
					<div class ="tabla">
					<table class="table table-hover">
						<form action="/" method="post">
							<p><b>Introduzca su nombre en Twitter: </b></p><input type="text" name="firstname"  value="" autofocus>
							<p><b>¿Cuántos seguidores desea ver? </b></p><input type="text" name="n" value="1">
							<input  type="submit" value="Submit" >
						</form>
												
					</table>
					</div>
					<br>
					<div class ="tabla">
					<table class="table table-hover">
						
						<% if @name == ''%>
							<p id="warning"> No se ha introducido usuario o es incorrecto </p>
						<%else%>
							<p><b> Usuario <i><%= @name %></i></b></p>
						<%end %>

						<% if @name != ''%>
							<%if @number>10%>
								<p id="warning"> Sólo se puede mostrar 10 amigos </p>
							<%elsif @seguidores.length < @number %>
								<p id="warning">El usuario sólo tiene <%= @seguidores.length%> amigos. </p>
								<p> Amigos más populares </p>
								<ol>
									<% @seguidores.each do |i| %> 
										<li id="col"><%= i %><br></li>
									<% end %>
								</ol>
							<%else%>
								<p>Amigos más populares :</p>
								<ol>
									<% @seguidores.each do |i| %> 
										<li id="col"><%= i %><br></li>
									<% end %>
								</ol>
							<%end%>
						<%end%>
						
					</table>
					</div>
				</div>
				</div>
			</div>
			
			<!--  *****   Pie *****  -->
			<div class="pie">
				<div class="row">
					<div class="col-md-2">
					  
					</div>
					<div class="col-md-10">
					  <p> <b>© SYTW  </b> - Práctica 2 © - Realizado por: <b>Jhoanmary Prz Fariña y Santiago Sainz Fdez.</b></p>
					</div>
					  
					 
				</div>
			</div>
		</div>
		
		



	
	</body>
	
</html>
